EMBEDDING_CLIENT="vllm"
EMBEDDING_MODEL="jinaai/jina-embeddings-v3"
CTX_CLIENT="vllm"
CTX_MODEL="Qwen/Qwen3-4B-AWQ"
CHAT_CLIENT="vllm"
CHAT_MODEL="Qwen/Qwen3-4B-AWQ"
RERANK_CLIENT="vllm"
RERANK_MODEL="Qwen/Qwen3-4B-AWQ"
VLLM_SERVER="http://localhost:8000/v1"
